<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal server error</title>
    <link rel="stylesheet" href="/css/error/500.css">
</head>

<main>
    <body class="loading">
    <div class="wrapper">
        <div class="box">
            <h1>500</h1>
            <p>Sorry, it's me, not you.</p>
            <p>&#58;&#40;</p>
            <p><a href="/">Let me try again!</a></p>
        </div>
    </div>
    </body>
</main>

</html>