:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --lightGray: rgba(241, 241, 241, 0.8);
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background-image: url("/images/site-bgr.jpg");
    backdrop-filter: blur(4px);
    padding: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

/* Navigation */
.main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 15px;
}

.main-nav ul .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-nav .nav-item a, #logout-form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--primary);
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

/* Home button */
.home-nav-item{
    background: transparent;
    justify-content: center;
    align-items: center;
}

.home-nav-item a{
    background-color: transparent;
}

.navbar-icon {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
}

.navbar-icon:hover{
    width: 80px;
    height: 80px;
    border-color: black;
    background-color: white;
    transform: scale(1.1);
}

/* Logout button */
#logout-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rounded-circle {
    max-width: 70%;
    height: 300px;
}

.main-nav .nav-item a:hover, #logout-form input:hover {
    background: var(--dark);
    color: var(--light);
}

.dropdown-menu {
    top: 80%;
    padding: 0;
}

/* INDEX PAGE */
/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Find amazing routes section */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url('/images/amazing-routes.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Index page - The weather section */
/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Routes categories buttons */
.main-btn {
    text-decoration: none;
    color: #0b2e13;
}

.main-btn:hover {
    text-decoration: none;
}

.main-btn:hover .box {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Flip effect for the image */
.flip-img {
    transition: transform 0.6s ease;
}

/* Flip the image on hover */
.main-btn:hover .flip-img {
    transform: rotateY(180deg); /* Horizontal flip */
}

/* Info */
.road {
    background: var(--primary);
    max-width: 1800px;
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    grid-row: auto;
}

.road img {
    height: auto;
    width: 800px;
}

/* ========== Route Category Page ========== */
/* 1. Category image and quotation */
.category-front-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the image */
.category-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #ccc;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

/* Add hover effect to the image */
.category-image:hover {
    transform: scale(1.1);
    border-color: #f9a825;
}

/* Style the title */
.category-title {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.4;
    max-width: 600px;
}

/* 2. Card */

.container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 70px;
    place-items: center;
    justify-content: center;
    align-content: start;
}

.card__container {
    display: flex;
    row-gap: 3.5rem;
    height: 300px;
}

.card__article {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.card__img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}

.card__button:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/* ========== Card Responsive design ========== */
/* For small devices */
@media screen and (max-width: 340px) {
    .card__data {
        width: 250px;
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .container {
        height: 1000px;
        grid-row-gap: 50px;
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/* ============= Route Details Page ============= */

/* 1. Images gallery */
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
    width: 100%;
    box-shadow: var(--shadow);
}

.details-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.details-main-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.details-main .gallery {
    grid-column: 1/4;
    grid-row: 3;
}

.level {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.route-info, .route-description, .comments {
    background-color: var(--lightGray);
    padding: 20px;
    border-radius: 10px;
}

.route-info {
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
}

/* Delete Route Button position */
.delete-route-form button.btn-danger {
    position: absolute;
    top: 10px;
    left: 10px;
}

.route-description {
    grid-column: 2/4;
    grid-row: inherit;
}

.comments {
    grid-column: 1/4;
    grid-row: 4;

}

#add-route-form {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
}

#map {
    height: 600px;
    width: 100%;
    border-radius: 10px;
}

#video iframe {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

/* Delete button Route details */
.routes-image-container {
    position: relative;
    display: inline-block;
}

.routes-image-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.routes-image-container .delete-form {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

.routes-image-container .delete-form button {
    font-size: 14px;
    padding: 5px 10px;
}

/* ============= About Page ============= */

.info {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #005cbf;
    color: white;
    padding: 5rem;
    border-radius: 5rem;
}

.info div {
    text-align: center;
}

.info div:nth-child(1) {
    background-image: url("/images/pic4.jpg");
    background-size: cover;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
}

.info div:nth-child(3) {
    background-image: url("/images/pic1.jpg");
    background-size: cover;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

/* ============= Profile Page ============= */

body {
    background-color: rgba(0, 0, 0, 6);
}

.profile-card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    min-height: 65vh;
}

.profile-card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #bbbef5;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #0833e3;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 20px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #0833e3;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #0833e3 !important;
    color: #ffffff;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #0833e3 !important;
    color: #fff;
    height: 40px;
    background-color: #0833e3
}

.buttons button:nth-child(2) {
    border: 1px solid #0833e3 !important;
    color: #ffffff;
    height: 40px
}

.buttons button:nth-child(2):hover {
    border: 1px solid #0833e3 !important;
    color: #fff;
    height: 40px;
    background-color: #0833e3
}

/* Footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

.details-main-single-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

