<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head(additionalCss='/css/admin/admin-panel.css')">
</head>

<body>
<header class="header">
  <h1>Admin Notifications</h1>
  <div class="notification-badge">
    <button class="badge-btn">
      Notifications <span id="notification-count">0</span>
    </button>
  </div>
</header>
<main class="notification-container">
  <h2>Recent Notifications</h2>
  <ul id="notifications-list">
    <!--load notifications -->
  </ul>
</main>
</body>
<script src="/js/toggleAdminPanel.js"></script>
</html>
