<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(additionalCss='/css/admin/notifications.css')">
</head>

<body>

<h1 class="admin-header">Admin Notifications</h1>
<table class="notifications-table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Created</th>
        <th>Modified</th>
        <th>User roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u :${users}" th:object="${u}">
        <td th:text="*{username}">test2</td>
        <td id="email" th:text="*{email}">test@abv.bg</td>
        <td th:text="*{#temporals.format(registrationDate, 'yyyy-MM-dd HH:mm:ss')}">
            formatted date
        </td>
        <td th:text="*{lastModifiedTime != null ? #temporals.format(lastModifiedTime, 'yyyy-MM-dd HH:mm:ss') : 'N/A'}">
            formatted date
        </td>
        <td>
            <div class="change-role-wrapper">
                <div class="role-action-container">
                    <th:block th:each="role : ${T(com.example.pathfinder.model.entity.enums.UserRoleEnum).values()}">
                        <label>
                            <input type="checkbox" class="role-checkbox"
                                   th:value="${role}"
                                   th:checked="${u.roles.contains(role)}">
                            <span th:text="${role}"></span>
                        </label>
                    </th:block>
                </div>
                    <button class="change-role-btn">Change roles</button>
            </div>
        </td>
        <td>
            <div class="actions-container">
                <button class="delete-btn">Delete User</button>
                <button class="enable-btn">Enable User</button>
                <button class="send-email-btn">Send Email</button>
            </div>
        </td>
    </tr>


    </tr>
    </tbody>
</table>
</div>
</body>
<script src="/js/admin/notifications.js"></script>

</html>
