<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(additionalCss='/css/admin/notifications.css')">
</head>

<body>

<h1 class="admin-header">Admin Notifications</h1>
<table class="notifications-table">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Created</th>
        <th>Modified</th>
        <th>User roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="n :${notifications}" th:object="${n}">
        <td th:text="*{username}">test2</td>
        <td id="email" th:text="*{email}">test@abv.bg</td>
        <td th:text="*{registeredOn != null ? #temporals.format(registeredOn, 'yyyy-MM-dd HH:mm:ss') : 'N/A'}">
            formatted date
        </td>
        <td th:text="*{modified != null ? #temporals.format(modified, 'yyyy-MM-dd HH:mm:ss') : 'N/A'}">
            formatted date
        </td>
        <td>
            <div class="change-role-wrapper">
                <div class="role-action-container">
                    <label><input type="checkbox" class="role-checkbox" value="Admin"> Admin</label>
                    <label><input type="checkbox" class="role-checkbox" value="Moderator"> Moderator</label>
                    <label><input type="checkbox" class="role-checkbox" value="User"> User</label>
                    <button class="change-role-btn">Change roles</button>
                </div>
            </div>
        </td>
        <td>
            <div class="actions-container">
                <button class="delete-btn">Delete User</button>
                <button class="enable-btn">Enable User</button>
                <button class="send-email-btn">Send Email</button>
            </div>
        </td>
    </tr>


    </tr>
    </tbody>
</table>
</div>
</body>
<script src="/js/admin/notifications.js"></script>

</html>
