<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(additionalCss='/css/admin/notifications.css')">
</head>

<body data-logged-in-user-email="${loggedInUserEmail}">
<section class="first-section">
    <h1 class="admin-header">Admin Notifications</h1>
    <div class="home-nav-item">
        <a class="btn btn-link nav-link" href="/">
            <img src="/images/home.png"
                 alt="home"
                 class="navbar-icon">
        </a>
    </div>
</section>

<section>
    <table class="notifications-table">
        <thead>
        <tr>
            <th>Status</th>
            <th>Locked status</th>
            <th>Times Locked</th>
            <th>Disabled date</th>
            <th>Username</th>
            <th>Email</th>
            <th>Creation date</th>
            <th>User roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u :${users}" th:object="${u}">
            <td class="status"
                th:classappend="${u.isEnabled} ? 'active' : 'inactive'"
                th:text="${u.isEnabled} ?'Active' : 'Inactive'"></td>
            <td class="locked-status"
                th:classappend="${u.accountLocked} ? 'inactive' : 'active'"
                th:text="${u.accountLocked} ?'Locked' : 'Not locked'"></td>
            <td th:text="*{timesLocked}"></td>
            <td class="disabled_time" th:text="*{disabledTime != null ? #temporals.format(disabledTime, 'yyyy-MM-dd HH:mm:ss') : 'N/A'}"></td>
            <td class="username" th:text="*{username}">test2</td>
            <td class="email" th:text="*{email}">test@abv.bg</td>
            <td th:text="*{#temporals.format(registrationDate, 'yyyy-MM-dd HH:mm:ss')}">
                formatted date
            </td>
            <td>
                <div class="change-role-wrapper">
                    <div class="role-action-container">
                        <th:block
                                th:each="role : ${T(com.example.pathfinder.model.entity.enums.UserRoleEnum).values()}">
                            <div class="role-wrapper">
                                <input type="checkbox" class="role-checkbox"
                                       th:value="${role}"
                                       th:checked="${u.roles.contains(role)}">
                                <span th:text="${role}"></span>
                            </div>
                        </th:block>
                    </div>
                    <button
                            class="change-role-btn disabled">Update Roles
                    </button>
                </div>
            </td>
            <td>
                <div class="actions-container">
                    <button
                            class="delete-btn">Delete User
                    </button>
                    <button
                            class="enable-btn"
                            th:text="${u.isEnabled} ? 'Disable user' : 'Enable user'"
                            th:classappend="${u.isEnabled} ? 'inactive' : 'active'"> Enable/Disable User
                    </button>
                    <button
                            class="lock-btn"
                            th:text="${u.isAccountLocked} ? 'Unlock user' : 'Lock user'"
                            th:classappend="${u.isAccountLocked} ? 'active' : 'inactive'"> Lock/Unlock User
                    </button>
                    <button class="send-email-btn">Send Email</button>
                </div>
            </td>
        </tr>
        </tr>
        </tbody>
    </table>
</section>
</body>

<script th:inline="javascript">
    const loggedInUserEmail = /*[[${loggedInUserEmail}]]*/ "default@example.com";
</script>


<script src="/js/admin/notifications.js">
</script>

</html>
