<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/profile.css')">

<body>
<main class="p-5 profile-main">
    <div th:replace="fragments/home-button"></div>
    <div class="profile-container">
        <div class="row d-flex justify-content-center">
            <div class="profile-card p-3 py-4"
                 th:object="${userViewModel}">
                 <span th:text="*{level.name()}"
                       class="level-badge">Pro</span>
                <div class="add-image-wrapper">
                    <img th:src="${userViewModel.profileImageUrl != null
                    && !userViewModel.profileImageUrl.isEmpty()
              ? userViewModel.profileImageUrl
              : '/images/profile.jpg'}"
                         alt="Profile image" id="profile-image"
                         class="rounded-circle" width="100">
                    <input type="file" id="upload-input" class="d-none" accept="image/*">
                    <input type="hidden"
                           id="oldProfileImagePublicId"
                           th:value="${userViewModel.profileImagePublicId == null
                           ? ''
                           : userViewModel.profileImagePublicId}">
                    <button id="upload-button" class="btn btn-outline-primary px-2 py-2 mt-2">Change</button>
                </div>
                <div class="text-center mt-3">
                    <form id="profile-form" th:object="${userViewModel}"
                          th:method="post"
                          th:action="@{/users/profile/edit}">
                        <input type="hidden"
                               th:value="*{id}"
                               name="id"
                               id="id-input">
                        <div id="full-name-wrapper">

                            <!-- Display mode -->
                            <div class="full-name-display">
                                <span id="firstName-display" th:text="*{firstName}">Test</span>
                                <span id="lastName-display" th:text="*{lastName}">Testov</span>
                            </div>

                            <!-- Edit mode -->
                            <div class="full-name-edit d-none">
                                <div class="profile-data-wrapper">
                                    <label for="firstName-input" class="firstName-label">First name:</label>
                                    <input id="firstName-input" class="form-control" type="text"
                                           th:value="*{firstName}">
                                    <span id="firstName-error" ></span>
                                </div>
                                <div class="profile-data-wrapper">
                                    <label for="lastName-input" class="lastName-label">Last name:</label>
                                    <input id="lastName-input" class="form-control" type="text" th:value="*{lastName}">
                                    <span id="lastName-error" ></span>
                                </div>
                            </div>
                        </div>

                        <div class="profile-data-wrapper username">
                            <label class="mt-2 mb-0  username-label" for="username-input">Username: </label>

                            <!-- Display mode -->
                            <span id="username-display" th:text="*{username}">Username</span>

                            <!-- Edit mode -->
                            <input id="username-input"
                                   class="form-control read-only-input d-none"
                                   type="text"
                                   th:value="*{username}"
                                   readonly
                                   disabled>
                        </div>
                        <div id="age-wrapper" class="profile-data-wrapper age">
                            <label class="mt-2 mb-0  age-label">Age: </label>
                            <span id="age-display"
                                  th:text="*{age}">333333333</span>
                        </div>
                        <div class="px-4 profile-data-wrapper description">
                            <q id="description-display"
                               th:text="*{aboutMe}"
                               class="fonts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim et nostrum
                                optio perferendis quam quod ratione rem sit soluta ut! A dolor laborum, maiores neque
                                nesciunt quis rerum sunt suscipit.</q>
                        </div>

                        <textarea id="description-input"
                                  class="form-control d-none"
                                  placeholder="Write something about you..."
                                  th:value="*{aboutMe}"></textarea>

                        <ul class="social-list">
                            <li>
                                <i class="fab fa-facebook-square"></i>
                                <span
                                        th:text="*{facebookAcc}"
                                        id="facebook-display"></span>
                                <input
                                        id="facebook-input"
                                        class="form-control d-none"
                                        type="text"
                                        th:value="*{facebookAcc}">
                            </li>
                            <li>
                                <i class="fab fa-instagram"></i>
                                <span
                                        th:text="*{instagramAcc}"
                                        id="instagram-display"></span>
                                <input
                                        id="instagram-input"
                                        class="form-control d-none"
                                        type="text"
                                        th:value="*{instagramAcc}">
                            </li>
                            <li>
                                <i class="fab fa-linkedin"></i>
                                <span
                                        th:value="*{linkedIn}"
                                        id="linkedin-display"></span>
                                <input
                                        id="linkedin-input"
                                        class="form-control d-none"
                                        type="text"
                                        name="*{linkedIn}">
                            </li>
                            <li class="email-wrapper">
                                <i class="fa fa-envelope"></i>
                                <span
                                        th:if="*{email}"
                                        th:text="*{email}"
                                        id="email-display"></span>
                            </li>
                        </ul>

                        <div class="buttons">
                            <div class="buttons mt-8">
                                <button id="edit-button" class="btn btn-outline-primary px-3 py-2">Edit</button>
                                <button id="save-button" class="btn btn-primary px-3 py-2 d-none">Save</button>
                                <button id="reset-button" class="btn btn-outline-secondary px-3 py-2 d-none">Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
<script src="/js/profile/editProfile.js"></script>
<script src="/js/profile/profile.js"></script>

</html>
