<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<!-- Navigation -->
<header th:replace="fragments/navbar"></header>

<main class="p-5 profile-main">
    <div class="profile-container">
        <div class="row d-flex justify-content-center">
            <div class="profile-card p-3 py-4"
                 th:object="${userViewModel}">
                 <span th:text="*{level.name()}"
                       class="level-badge">Pro</span>
                <div class="add-image-wrapper">
                    <img th:src="${userViewModel.profileImageUrl != null
                    && !userViewModel.profileImageUrl.isEmpty()
              ? userViewModel.profileImageUrl
              : '/images/profile.jpg'}"
                         alt="Profile image" id="profile-image"
                         class="rounded-circle" width="100">
                    <input type="file" id="upload-input" class="d-none" accept="image/*">
                    <input type="hidden"
                           id="oldProfileImagePublicId"
                           th:value="${userViewModel.profileImagePublicId == null
                           ? ''
                           : userViewModel.profileImagePublicId}">
                    <button id="upload-button" class="btn btn-outline-primary mt-2">Add</button>
                </div>
                <div class="text-center mt-3">
                    <form id="profile-form" th:object="${userViewModel}"
                          th:method="post"
                          th:action="@{/users/profile/edit}">
                        <input type="hidden"
                               th:value="*{id}"
                               name="id"
                               id="id-input">
                        <div id="full-name-wrapper">
                            <p class="full-name-title">Full name: </p>
                            <div class="profile-data-wrapper name-wrapper">
                                <label class="mt-2 mb-0 first-name-label d-none" for="firstName-input">First name: </label>
                                <span id="firstName-display"
                                      th:text="*{firstName}">Test</span>
                                <input id="firstName-input"
                                       class="form-control d-none"
                                       type="text"
                                       th:value="*{firstName}">
                                <span id="firstName-error" class="error-message text-danger"></span>
                            </div>

                            <div class="profile-data-wrapper name-wrapper">
                                <label class="mt-2 mb-0 last-name-label  d-none" for="lastName-input">Last name: </label>
                                <span id="lastName-display"
                                      th:text="*{lastName}">Testov</span>
                                <input id="lastName-input"
                                       class="form-control d-none"
                                       type="text"
                                       th:value="*{lastName}">
                                <span id="lastName-error" class="error-message text-danger"></span>
                            </div>
                        </div>
                        <div class="profile-data-wrapper">
                            <label class="mt-2 mb-0" for="username-input">Username: </label>
                            <span id="username-display"
                                  th:text="*{username}">UI/UX Designer</span>
                            <input id="username-input"
                                   class="form-control d-none"
                                   type="text"
                                   th:value="*{username}"
                                   th:data-original="*{username}">
                            <span id="username-error" class="error-message text-danger"></span>
                        </div>

                        <div id="age-wrapper" class="profile-data-wrapper">
                            <label class="mt-2 mb-0">Age: </label>
                            <span id="age-display"
                                  th:text="*{age}">33</span>
                        </div>

                        <div class="px-4 mt-4 mb-3 profile-data-wrapper">
                            <p id="description-display"
                               th:text="*{aboutMe}"
                               class="fonts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim et nostrum
                                optio perferendis quam quod ratione rem sit soluta ut! A dolor laborum, maiores neque
                                nesciunt quis rerum sunt suscipit.</p>
                        </div>

                        <textarea id="description-input"
                                  class="form-control d-none"
                                  placeholder="Write something about you..."
                                  th:value="*{aboutMe}"></textarea>

                        <ul class="social-list">
                            <li>
                                <i class="fab fa-facebook-square"></i>
                                <span

                                        th:text="*{facebookAcc}"
                                        id="facebook-display"></span>
                                <input
                                        id="facebook-input"
                                        class="form-control d-none"
                                        type="text"
                                        th:value="*{facebookAcc}">
                            </li>
                            <li>
                                <i class="fab fa-instagram"></i>
                                <span

                                      th:text="*{instagramAcc}"
                                      id="instagram-display"></span>
                                <input
                                        id="instagram-input"
                                        class="form-control d-none"
                                        type="text"
                                        th:value="*{instagramAcc}">
                            </li>
                            <li>
                                <i class="fab fa-linkedin"></i>
                                <span

                                      th:text="*{linkedIn}"
                                      id="linkedin-display"></span>
                                <input
                                        id="linkedin-input"
                                        class="form-control d-none"
                                        type="text"
                                        th:value="*{linkedIn}">
                            </li>
                            <li id="email-wrapper">
                                <i class="fa fa-envelope"></i>
                                <span th:if="*{email}"
                                      th:text="*{email}"
                                      id="email-display"></span>
                            </li>
                        </ul>

                        <div class="buttons">
                            <div class="buttons mt-8">
                                <button id="edit-button" class="btn btn-outline-primary px-4">Edit</button>
                                <button id="save-button" class="btn btn-primary px-4 d-none">Save</button>
                                <button id="reset-button" class="btn btn-outline-secondary px-4 d-none">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

<footer th:replace="fragments/footer"></footer>

<script src="/js/editProfile.js"></script>

</html>
