<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>

<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3">
            <form class="form_container"
                  method="POST"
                  th:action="@{/users/register}"
                  th:object="${userRegisterBindingModel}">

                <div class="columns">

                    <!-- Row 1: First Name / Last Name -->
                    <div class="row">
                        <div class="col">
                            <label for="inputFirstName" class="col-form-label">First Name</label>
                            <input th:field="*{firstName}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   id="inputFirstName"
                                   class="form-control">
                        </div>
                        <div class="col">
                            <label for="inputLastName" class="col-form-label">Last Name</label>
                            <input th:field="*{lastName}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   id="inputLastName"
                                   class="form-control">
                        </div>
                    </div>

                    <!-- Row 2: Username / Email -->
                    <div class="row">
                        <div class="col">
                            <label for="username" class="col-form-label">Username</label>
                            <input th:field="*{username}"
                                   th:errorclass="is-invalid"
                                   type="text"
                                   id="username"
                                   class="form-control">
                        </div>
                        <div class="col">
                            <label for="inputEmail" class="col-form-label">Email</label>
                            <input th:field="*{email}"
                                   th:errorclass="is-invalid"
                                   type="email"
                                   id="inputEmail"
                                   class="form-control">
                        </div>
                    </div>

                    <!-- Row 3: Gender / Birthday -->
                    <div class="row">
                        <div class="col col-background">
                            <label class="col-form-label">Gender</label>
                            <div class="gender_options">
                                <input type="radio" id="male" name="gender" value="male">
                                <label for="male" class="radio_label">Male</label>
                                <input type="radio" id="female" name="gender" value="female">
                                <label for="female" class="radio_label">Female</label>
                            </div>
                        </div>
                        <div class="col col-background">
                            <label class="col-form-label">Date of Birth:</label>
                            <div class="dob_dropdowns">
                                <select id="day">
                                    <option value="" disabled selected>Day</option>
                                </select>
                                <select id="month">
                                    <option value="" disabled selected>Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <select id="year">
                                    <option value="" disabled selected>Year</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Row 4: About Me (Full Width) -->
                    <div class="row">
                        <div class="col-12 about-me-container">
                            <textarea class="form-control about-me-textarea"
                                      th:field="*{aboutMe}"
                                      id="aboutMe"
                                      placeholder="This is the place where you can share anything interesting about you ..."></textarea>
                        </div>
                    </div>

                    <!-- Row 5: Social Networks -->

                    <div class="row">
                        <div class="col social-input-container facebook-container">
                            <span class="social-icon"><i class="fab fa-facebook-square"></i></span>
                            <input th:field="*{facebookAcc}" type="text" id="facebookAcc"
                                   class="form-control social-input" placeholder="Facebook">
                        </div>
                        <div class="col social-input-container instagram-container">
                            <span class="social-icon"><i class="fab fa-instagram"></i></span>
                            <input th:field="*{instagramAcc}" type="text" id="instagramAcc"
                                   class="form-control social-input" placeholder="Instagram">
                        </div>
                        <div class="col social-input-container linkedin-container">
                            <span class="social-icon"><i class="fab fa-linkedin"></i></span>
                            <input th:field="*{linkedIn}" type="text" id="linkedIn" class="form-control social-input"
                                   placeholder="LinkedIn Profile">
                        </div>
                    </div>

                    <!-- Row 6: Password / Confirm Password -->
                    <div class="row passwords">
                        <div class="col">
                            <label for="inputPassword" class="col-form-label">Password</label>
                            <input th:field="*{password}"
                                   th:errorclass="is-invalid"
                                   type="password"
                                   id="inputPassword"
                                   class="form-control">
                        </div>
                        <div class="col">
                            <label for="inputConfirmPassword" class="col-form-label">Confirm Password</label>
                            <input th:field="*{confirmPassword}"
                                   th:errorclass="is-invalid"
                                   type="password"
                                   id="inputConfirmPassword"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <!-- Register Button -->
                <div class="d-flex justify-content-center mt-4 button_container">
                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                </div>

            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer"></footer>
<script src="/js/register/birthdayCalender.js"></script>
</body>
</html>