<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(additionalCss='/css/route/all-routes.css')">

<body>
<div th:replace="fragments/home-button"></div>
<main>
    <div class="wrapper">
        <form th:action="@{/routes}" method="get" class="search-form">
            <input type="text" name="keyword" placeholder="Search route by name ..."
                   th:value="${keyword}">
            <button type="submit">Search</button>
        </form>

        <section th:each="r : ${routesPage.content}" th:object="${r}" class="road">
            <img th:src="*{pictureUrl}" alt="Title image">
            <div>
                <h2 th:text="*{name}">Your Route</h2>
                <p th:text="*{description}">Description</p>
                <a th:href="@{/routes/details/{id}(id=*{id})}" class="btn">Learn More</a>
            </div>
        </section>

        <div class="pagination">
            <a th:if="${currentPage > 0}"
               th:href="@{/routes(page=${currentPage - 1}, keyword=${keyword})}">&laquo;</a>

            <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/routes(page=${i}, keyword=${keyword})}"
                   th:text="${i + 1}"
                   th:classappend="${i == currentPage} ? 'active'">1</a>
            </span>

            <a th:if="${currentPage + 1 < totalPages}"
               th:href="@{/routes(page=${currentPage + 1}, keyword=${keyword})}">&raquo;</a>
        </div>
    </div>
    </div>
</main>

<footer th:replace="fragments/footer"></footer>
</body>


</html>