<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/navbar"></header>

    <section class="road">
        <div th:each="r : ${routes}" th:object="${r}">
            <div class="route-card"
                 th:style="|background-image: url('${r.pictureUrl}')|">
                <h2 th:text="*{name}" >Title</h2>
                <p th:text="*{description.length() > 50
                ? #strings.substring(description, 0, 20) + '...'
                : description}" >Very long description</p>
                <a th:href="@{/routes/{id}(id=*{id})}" class="btn">Learn More</a>
            </div>
        </div>
    </section>
    <section>
        <img class="rounded-circle w-75 ml-5"
             th:src="@{'/images/route-categories/' + ${category} + '.jpg'}" alt="Title image">
    </section>
</div>

</body>

<footer th:replace="fragments/footer"></footer>

</html>