<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<div class="wrapper route-wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/navbar"></header>

    <section class="category-front-img" >
        <img class="rounded-circle"
             th:src="@{'/images/route-categories/' + ${category} + '.jpg'}" alt="Title image">
    </section>

    <section class="container">
        <div class="card__container" th:each="r : ${routes}" th:object="${r}">
            <article class="card__article">
                <img th:src="*{pictureUrl}" alt="image" class="card__img">

                <div class="card__data">
                    <span th:text="*{description.length() > 30 ? #strings.substring(description, 0, 20) + '...': description}"
                          class="card__description">Vancouver Mountains, Canada</span>
                    <h2 th:text="*{name}" class="card__title">The Great Path</h2>
                    <a th:href="@{/routes/{id}(id=*{id})}" class="card__button">Read More</a>
                </div>
            </article>
        </div>
    </section>

</div>

</body>

<footer th:replace="fragments/footer"></footer>

</html>