/* Common classes */

.home-nav-item {
    position: absolute;
    top: 15px;
    left: 0;
}

.wrapper {
    margin-top: 7rem;
}

.btn {
    padding: 1rem !important;
}

/* Road */
.road {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    align-items: start;
    max-width: 1800px;
    padding: 3rem;

    background: var(--primary);
}

.road img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 8px
}

/* Search bar */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 8px 12px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.search-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--blue);
    color: var(--primary);
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-form button:hover {
    background-color: var(--darker-blue);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 16px 26px;
    margin: 0 4px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    color: var(--title-color);
    transition: background-color 0.2s, color 0.2s;
}

.pagination a:hover {
    background-color: var(--blue);
    color: var(--primary);
}

.pagination a.active {
    background-color: var(--darker-blue);
    color: var(--primary);
    font-weight: bold;
}


/* Tablet view */
@media (max-width: 1024px) {
    .road {
        grid-template-columns: 1fr;
        padding: 2rem;
    }

    .road img {
        max-width: 100%;
    }
}

/* Phone view */
@media (max-width: 724px) {
    .search-form input {
        width: 250px;
    }

    .road {
        padding: 1rem;
        grid-gap: 15px;
    }

    .road img {
        width: 100%;
        height: auto;
    }

    .road h2 {
        font-size: 1.5rem;
    }

    .road p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .road .btn {
        display: inline-block !important;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}