.home-nav-item {
    background: transparent;
}

.home-nav-item a {
    background-color: transparent;
}

.navbar-icon {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
}

.navbar-icon:hover {
    width: 80px;
    height: 80px;
    border-color: black;
    background-color: white;
    transform: scale(1.1);
}



